APP_ENV="development"
WEB_ADDR=":8080"
CORE_GRPC_ADDR="localhost:50051"
SESSION_COOKIE_NAME="ournezt_session"
SESSION_COOKIE_MAX_AGE="12h"
SESSION_COOKIE_SECURE="false"
REQUEST_TIMEOUT="5s"
MAINTENANCE_NOTICE_FILE=""
MAINTENANCE_NOTICE_ENABLED="false"
MAINTENANCE_NOTICE_LEVEL="warning"
MAINTENANCE_NOTICE_TITLE="Planned maintenance"
MAINTENANCE_NOTICE_MESSAGE="OurNeZt may be unavailable on 28 Jun 2026, 12:00 AM to approximately 2:00 AM SGT while we migrate ingress traffic."
MAINTENANCE_NOTICE_STARTS_AT="28 Jun 2026, 12:00 AM SGT"
MAINTENANCE_NOTICE_ENDS_AT="28 Jun 2026, approximately 2:00 AM SGT"
