{{ define "partials/help_tooltip" }}
  {{- $tip := housingTooltip .Key -}}
  {{- if $tip -}}
    <span class="oz-help-tooltip">
      <button type="button" class="oz-help-trigger" aria-label="{{ tooltipAriaLabel .Label }}">?</button>
      <span class="oz-help-bubble" role="tooltip">{{ $tip }}</span>
    </span>
  {{- end -}}
{{ end }}
